<div id="<%= dom_id(a) %>" class="flex flex-col bg-green-200 p-4  comment-time">
  <div class="font-bold mb-4"><%= a.activiable_type %> was <%= a.operation %>d</div>
  <% a.diff && a.diff.each do |property, (from,to)| %>
    <div class="ml-4">
      Changed <span class="text-bold"><%= property %></span> from <%= from %> to <%= to %>
    </div>
  <% end %>
  <div class="flex justify-between mt-4">
    <%= a.user.email %>
    <div class="text-xs pt-1"><%= a.created_at&.to_formatted_s(:long_ordinal) %></div>
  </div>
</div>
