<div>
  <h1 class="text-4xl">Project <span class="text-slate-600 text-thin"><%= @project.name %></span></h1>
  <div class="mt-6">
    Status: 
    <%= @project.status %>
  </div>
  <div id="activities" class="flex flex-col gap-4">
    <% @project.activities.each do |a| %>
      <% if a.activised_type.present? %>
        <%= render partial: 'projects/associated_activity', locals: {a: a} %>
      <% else %>
        <%= render partial: 'projects/activity', locals: {a: a} %>
      <% end %>
    <% end %>
  </div>

  <div>
    <div data-controller="comments">
      <div class="inline-block rounded bg-indigo-400 px-4 py-2" data-action="click->comments#newComment" >
        Create a new Comment
      </div>
      <div data-comments-target="form" class="invisible js-toggle-comment-form bg-slate-200 p-8">
        <div id="comment-form" class='form'>
          <%= render partial: 'projects/comment_form', locals: { project: @project } %>
        </div>
      </div>
    </div>
  </div>
</div>
