<div>
  <h1 class="text-4xl">Project <span class="text-slate-600 text-thin"><%= @project.name %></span></h1>
  <div class="mt-6">
    Status: 
    <%= @project.status %>
  </div>
  <div class="flex flex-col gap-4">
    <% @project.activities.each do |a| %>
      <% if a.activised_type.present? %>
        <div class="flex flex-col bg-green-200 p-4 comment-time">
          <div class="font-bold"><%= a.activised_type %> was <%= a.operation %>d</div>
          <div class="italic p-4 bg-white"><%= a.activised.body %></div>
          <div class="flex justify-between mt-4">
            <%= a.user.email %>
            <div class="text-xs pt-1"><%= a.created_at&.to_formatted_s(:long_ordinal) %></div>
          </div>
        </div>
      <% else %>
        <div class="flex flex-col bg-green-200 p-4  comment-time">
          <div class="font-bold mb-4"><%= a.activiable_type %> was <%= a.operation %>d</div>
          <% a.diff && a.diff.each do |property, (from,to)| %>
            <div class="ml-4">
              Changed <%= property %> from <%= from %> to <%= to %>
            </div>
          <% end %>
          <div class="flex justify-between mt-4">
            <%= a.user.email %>
            <div class="text-xs pt-1"><%= a.created_at&.to_formatted_s(:long_ordinal) %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <div data-controller="comments" data-action="click->comments#newComment">
      Create a new Comment
      <div data-comments-target="form" class="invisible js-toggle-comment-form">
        <div class='form'>
          <%= form_for @comment do |f| %>
            <%= f.text_field :body  %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :project_id %>
            <%= f.submit 'Comment' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
