<div>
  <h1 class="text-4xl">Project <span class="text-slate-600 text-thin"><%= @project.name %></span></h1>
  <div class="mt-6">
    Status: 
    <%= @project.status %>
  </div>
  <div>
    <% @project.comments.each do |comment|  %>
      <div class="comment-time">
        <%= comment.created_at %>
      </div>
    <% end %>
  </div>

  <div>
    <div data-controller="comments" data-action="click->comments#newComment">
      Create a new Comment
      <div data-comments-target="form" class="invisible js-toggle-comment-form">
        <div class='form'>
          <%= form_for @comment do |f| %>
            <%= f.text_field :body  %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :project_id %>
            <%= f.submit 'Comment' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
